<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
        <tr> <th>Id</th><th>Image</th><th>Song</th> <th>Artist</th> <th>releaseDate</th><th>Genre</th> </tr>    
    <tbody *ngFor="let song of songs">
    <tr>
    <td>{{song.idSong}}</td>
    <td><img class="card-img-top img-responsive"
        src = "{{song.imageStr}}"
        style = "height :70px;width:70px">
        </td>   
    <td>{{song.nomSong}}</td>
    <td>{{song.nomArtist}}</td>
    <td>{{song.releaseDate | date:'dd/MM/yyyy'}}</td>
    <td>{{song.genre.nomGenre}}</td>
    
    <td><a *ngIf="authService.isAdmin()" class="btn btn-primary" [routerLink]="['/updateSong',song.idSong]">Edit</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerSong(song)">Delete</a></td>
     
</tr>
    </tbody>
    </table>
    </div>
    </div>
</div>  