<div class="container">
    <div>
    <h2>Modifier un Song :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Song</label>
    <input readonly type="text" [(ngModel)]="currentSong.idSong"
    name="idSong" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Song Name</label>
    <input type="text"[(ngModel)]= "currentSong.nomSong"
    name="nomSong" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Artist Name</label>
    <input type="text" [(ngModel)]= "currentSong.nomArtist"
    name="nomArtist" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >releaseDate</label>
    <input type="date" [ngModel]="currentSong.releaseDate | date: 'yyyy-MM-dd'"
    (ngModelChange)=" currentSong.releaseDate= $event" name="releaseDate"
     class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Genre</label>
        <select class="form-control form-control-lg" id="idGenre" name="idGenre"
        [(ngModel)]="updatedGenreId">
        <option *ngFor="let genre of genres" [value]="genre.idGenre" >
        {{genre.nomGenre}}
        </option>
        </select>
    </div>

    <div class="mt-2">
        <button type="submit" (click)="onAddImageSong()" class="btn
        btn-success">Add Image</button>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
        <label class="mb-2">Image :</label>
        <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
        <img [src]="myImage" class="card-img-top img-fluid rounded-start"
        style="width: 500px; height: 300px" />
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
        <table class="table table-striped">
        <thead>
        <tr> <th>Images</th> </tr>
        </thead>
        <tbody *ngFor="let img of currentSong.images">
            <tr>
            <td><img class="card-img-top img-responsive"
            src = "{{'data:' + img.type + ';base64,' + img.image}}"
            style = "height :50px;width:100px"></td>
            <td style="width:20%" ><a class="btn btn-danger"
                (click)="supprimerImage(img)">Delete</a></td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            

   

    <div class="mt-2">
    <button type="submit" (click)="updateSong()" class="btn btn-success">Edit</button>
    </div>
    </form>
</div>
    